body {
    color: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}

.jumbotron {
    background-image: url("../images/cell.jpg");
    background-size: 100% 100%;
    text-align: center;
    min-height: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 30px;
}

h3 {
    font-weight: bold;
    font-size: 20px;
}

h5 {
    font-weight: bold;
    font-size: 20px;
}

p {
    font-size: 19px;
}


/* div {
    
} */